
#main-navbar {
	background-color: blue;
	overflow: hidden;
}

#navbar-container { 
	width: 100%;
	position: relative;
	float: left;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;  
	left: 50%;
	float: left;
	padding: 0;
	position: 0;
}

#main-navbar ul li {
	float: left;
	right: 50%;
	display: block;
	position: relative;
}

#main-navbar ul li a { 
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}

#main-navbar ul li a:hover {
	background-color: #000;
}

#onpage { 
text-decoration: underline overline; 
}


#sidebar { 
	background-color: red;
	height: 100%;
	width: 20%; 
	postion: fixed;
	right: 0%;
}

#sidebar ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}


#sidebar ul li  a {
	display: block; 
	padding: 15px 0; 
	color: #fff;
	text-decoration: none;
}

#sidebar ul li a:hover { 
	background-color: #000;
}

